<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h5 class="font-weight-lighter pt-3 mb-n2">Formulario de</h5>
      <h1 class="font-weight-bold mb-4">Registro</h1>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="save(registerForm)" novalidate autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tipoProveedor">Tipo de Proveedor</label>
        <select (change)="onChange($event.target.value)" class="form-control" formControlName="tipoProveedor"
          placeholder="Escoja el tipo de proveedor">
          <option *ngFor="let proveedor of proveedores">{{proveedor}}</option>
        </select>
      </div>
    </div>
    <div class="border-top mt-2 mb-4"></div>
    <div class="form-row">
      <div class="col-md-12">
        <h6 class="font-weight-normal">Datos de la Empresa</h6>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la empresa">
      </div>

      <div class="form-group col-md-6">
        <label for="certificado">Certificado de matrícula mercantil vigente al 2020</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="mercantilFile" id="mercantilFile"
            (change)="onFileChange($event.target.files,0)" lang="es">
          <label class="custom-file-label" #labelUpload for="mercantilFile">Seleccionar Archivo ...</label>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input type="tel" class="form-control" formControlName="telefono" placeholder="Teléfono de la empresa">
      </div>
      <div class="form-group col-md-6">
        <label>Fotocopia de la cédula representante legal de la empresa</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="fotocopiaFile" formControlName="fotocopiaFile"
            (change)="onFileChange($event.target.files,1)">
          <label class="custom-file-label" #labelUpload for="fotocopiaFile">Seleccionar Archivo...</label>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="rut">RUT</label>
        <input type="tel" class="form-control" formControlName="rut" placeholder="RUT de la empresa">
      </div>
      <div *ngIf="registerForm.get('parafiscalFile').enabled" class="form-group col-md-6">
        <label>Certificado de pago parafiscal</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="parafiscalFile" formControlName="parafiscalFile"
            (change)="onFileChange($event.target.files,2)">
          <label class="custom-file-label" #labelUpload for="parafiscalFile">Seleccionar Archivo...</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>RUP o estados financieros del último año (2019)</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="rupFile" formControlName="rupFile"
            (change)="onFileChange($event.target.files,3)">
          <label class="custom-file-label" #labelUpload for="rupFile">Seleccionar Archivo...</label>
        </div>
      </div>
      <div *ngIf="registerForm.get('inscripcionFile').enabled" class="form-group col-md-3">
        <label>Inscripción Convocatoria</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inscripcionFile" formControlName="inscripcionFile"
            (change)="onFileChange($event.target.files,4)">
          <label class="custom-file-label" #labelUpload for="inscripcionFile">Seleccionar Archivo...</label>
        </div>
      </div>
      <div *ngIf="registerForm.get('inscripcionFile').enabled" class="form-group col-md-3 text-center">
        Realizar la inscripción
        "Empresarios por el empleo" <br />
        Link <a _blank href="https://n9.cl/ufps">https://n9.cl/ufps</a>
      </div>
      <div *ngIf="registerForm.get('cartaFile').enabled" class="form-group col-md-6">
        <label>Formato "Carta de compromiso"</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="cartaFile" formControlName="cartaFile"
            (change)="onFileChange($event.target.files,5)">
          <label class="custom-file-label" #labelUpload for="cartaFile">Seleccionar Archivo...</label>
        </div>
      </div>
    </div>
    <div class="border-top border-2 mt-2 mb-4"></div>
    <div class="form-row">
      <div class="col-md-12">
        <h6 class="font-weight-normal">Datos producto</h6>
      </div>
    </div>

    <div class="form-row productos mb-4" *ngFor="let producto of productos.controls;let i =  index">
      <ng-container [formGroup]="producto">
        <div *ngIf="productos.controls.length > 1" class="col-sm-12 text-right">
          <button type="button" class="btn btn-danger" (click)="delete(i)">
            Quitar
          </button>
        </div>
        <div class="col-sm-12">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="label">Producto</label>
              <select class="form-control" formControlName="producto" placeholder="Seleccione el Producto">
                <option *ngFor="let producto of listaProductos">{{producto}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="label">Cantidad</label>
              <input type="number" class="form-control" formControlName="cantidad" placeholder="Cantidad total">
            </div>

            <div class="form-group col-md-3">
              <label class="label">Lote</label>
              <input type="text" class="form-control" formControlName="lote" placeholder="Código del Lote">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="label">Nombre del Fabricante</label>
              <input type="text" class="form-control" formControlName="fabricante"
                placeholder="Nombre del fabricante del producto">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Teléfono</label>
              <input type="tel" class="form-control" formControlName="telefono"
                placeholder="Teléfono del fabricante del producto">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Registro INVIMA o ¨Autoevaluación INVIMA¨</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="invimaFile" formControlName="invimaFile"
                  (change)="onFileChangePr($event.target.files,0)">
                <label class="custom-file-label" #labelUploadPr for="invimaFile">Seleccionar Archivo...</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Ficha Técnica del Producto</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="fichaTecnicaFile" formControlName="fichaTecnicaFile"
                  (change)="onFileChangePr($event.target.files,1)">
                <label class="custom-file-label" #labelUploadPr for="fichaTecnicaFile">Seleccionar Archivo...</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Certificado de instituciones</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="institucionesFile" formControlName="institucionesFile"
                  (change)="onFileChangePr($event.target.files,2)">
                <label class="custom-file-label" #labelUploadPr for="institucionesFile">Seleccionar Archivo...</label>
              </div>
            </div>
          </div>


        </div>
      </ng-container>
    </div>

    <div class="row" class="action-buttons-group pb-4">
      <button type="button" class="btn btn-primary btn-lg" (click)="addProducto()">Agregar
        Producto</button>
      <button type="submit" class="btn btn-success btn-lg form-submit-button">Enviar</button>
    </div>

  </form>

</div>