.admin {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        flex: 0 1 auto;
    }

    .content {
        flex: 1 1 auto;
    }
}

.menu {
    background: #0066d0;
    color: white;

    li {
        padding-left: 2rem;
        border-bottom: 0.5px solid rgba(255,255,255,0.3);
    }

    li,
    a {
        cursor: pointer;
        &:focus {
            outline: 0;
        }

        &.active,
        &:hover {
            color: #fed100;
        }
    }
}
