:host {
    width: 100%;
}

.bg2 {
    background: url("/assets/imgs/landing.png") center right no-repeat;
    background-size: auto 90%;
    height: 100%;

    > .container {
        height: 100%;
    }
}
