<div class="bg2">
    <div class="container d-flex">
        <div class="col-md-4 align-self-center">

            <h3 class="font-weight-normal mt-n5 mb-n1">Convocatoria</h3>
            <h2 class="display-4 font-weight-bold mb-4">Nacional</h2>
            <p class="text-justify mb-5">El Gobierno Nacional a través de la Unidad Nacional de Gestión de
                Riesgos y Desastres (UNGRD) está contratando proveedores para la adquisición de un gran volumen de 9
                elementos prioritarios de protección (EPP) médica identificados previamente.
            </p>
            <button routerLink="/registro" class="btn btn-success btn-lg m-auto mb-2">REGÍSTRATE</button>
        </div>
        <div class="col-md-4 text-center align-self-end mb-5">
            <a class="btn btn-outline-light btn-lg m-auto" href="assets/pdf/Lista de elementos de proteccion.pdf"
                target="_blank">Ver
                más</a>
        </div>
    </div>
</div>