<div class="intro">
    <div class="header d-flex">
        <div class="container pt-4 pb-4 align-self-center">
            <div class="row">
                <div class="col-md-3 m-auto text-center">
                    <img class="img-fluid" src="assets/imgs/logo-gobierno.png">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 m-auto text-center">
                    <img class="img-fluid" src="assets/imgs/logo-UNGRD.png">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4 m-auto text-center">
                    <form [formGroup]="loginForm" (ngSubmit)="save(loginForm)" novalidate autocomplete="off">
                        <div class="form-group">
                            <input type="text" formControlName="username" class="form-control form-control-lg"
                                id="email" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input formControlName="password" type="password" class="form-control form-control-lg"
                                id="password" placeholder="Contraseña">
                        </div>

                        <div class="text-center">
                            ¿Olvidó su contraseña?
                        </div>
                        <button routerLink="/admin" type="submit" class="btn btn-success btn-lg mt-5">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>