<div class="intro">
    <div class="header">
        <div class="container pt-4 pb-4">
            <nav class="navbar navbar-expand-lg justify-content-between">
                <a class="navbar-brand" [routerLink]="'.'">
                    <img src="assets/imgs/logo.png" height="50" class="d-inline-block align-middle" alt="">
                </a>

                <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
                <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                    &#9776;
                </button>

                <!-- Step 2: Add the ngbCollapse directive to the element below. -->
                <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse col-6">
                    <ul class="navbar-nav ml-auto nav-fill w-100">
                        <li (click)="isMenuCollapsed = true" class="nav-item">
                            <a class="nav-link" href="assets/pdf/ABC COMPRA COVID-19.pdf"
                                target="_blank">Convocatoria</a>
                        </li>
                        <li routerLink="/registro" routerLinkActive="active" (click)="isMenuCollapsed = true"
                            class="nav-item">
                            <a class="nav-link">Registro</a>
                        </li>
                        <li class="nav-item pl-2 pr-2">
                            <span class="nav-link">|</span>
                        </li>
                        <li routerLink="/login" routerLinkActive="active" class="nav-item"
                            (click)="isMenuCollapsed = true">
                            <a class="nav-link featured">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row no-gutters content">
        <router-outlet></router-outlet>
    </div>
</div>